<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<SCRIPT type="text/javascript">
	window.history.forward();
	function noBack() { window.history.forward(); }
</SCRIPT>
</head>
<body onload="noBack();" oncontextmenu="return false;"
	onpageshow="if (event.persisted) noBack();" onunload="">

<h1>Upload your data file here to be processed</h1>

<form method="POST" action="/upload" enctype="multipart/form-data">
    <input type="file" name="file" /><br/><br/>
    <input type="submit" value="Submit" />
</form>

</body>
</html>
